.ChangeCryptoGap{
    display: flex;
    padding-inline: 16px;
    gap:16px;
    overflow: hidden;
    flex-direction: column;
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        list-style: none;
        overflow-x:scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__item{
        position: relative;
        z-index: 0;
        background-color: rgba(34, 34, 34, 1);
        cursor: pointer;
        border-radius: 8px;
        padding: 5.5px 41px;
        border: 1px solid transparent;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1px;
            background: none;
            opacity: 0;
            pointer-events: none;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        &-active{
            background-color: rgba(244, 164, 44, 0.05);

            &::after{
                background: linear-gradient(160deg, #ECBD75 0%, #EC6633 100%);
                opacity: 0.3;
            }
        }
    }
    &__label{
        font-size: 12px;
        font-weight: 400;
        color:rgba(255, 255, 255, 1);
        cursor: pointer;

        &-active{
            color:rgba(244, 164, 44, 1);
        }
    }
    &__indicator{
        display: flex;
        margin-inline: auto;
        align-items: center;
        gap: 8px;
        list-style: none;
        overflow-x:scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__indicator__item{
        width: 8px;
        height: 8px;
        background-color: rgba(46, 46, 46, 1);
        border-radius: 50%;
    }
    &__indicator__item-active{
        width: 24px;
        border-radius: 32px;
        background-color: rgba(236, 189, 117, 1);
    }
}