.TabBar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(30, 30, 30, 1);
    padding: 8px 12px 0;
    padding-bottom: max(0px, calc(32px - env(safe-area-inset-bottom)));
    border-radius: 12px 12px 0 0;
    border-top:1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    gap:16px;
    z-index: 100;
    &__list{
        padding-inline: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    &__item{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2px;
        position: relative;
    }
    &__notification{
        position: absolute;
        bottom:calc(90% );
        left: 50%;
        transform: translateX(-50%,-00%);
        border-radius: 12px;
        padding: 2px 6px;
        background: rgba(236, 189, 117, 0.2);
        font-size: 8px;
        color:rgba(236, 189, 117, 1);
        font-size: 10px;
        font-weight: 500;
    }
    &__icon{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
    &__trade-wrapper{
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        &-active{
            background: linear-gradient(160deg,rgba(151, 252, 166, 0.1) 0%, rgba(246, 201, 15, 0.1) 100%);
        }
    }
    &__button{
        background: none;
        border: none;
        cursor: pointer;
        font-size: 10px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.5);
    }
}