.TokenSelect{
    background: rgba(34, 34, 34, 1);
    padding: 6px 8px;
    border-radius: 12px;
    border:none;
    cursor: pointer;
    width: max-content;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }
    &__logo{
        width: 24px;
        height: 24px;
        object-fit: cover;
    }
    &__token{
        font-weight: 500;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
    }
    &__multiplier{
        font-weight: 400;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.5);
    }
    &__arrow{
        width: 14px;
        height: 14px;
        object-fit: cover;
    }
}